* { 
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

section {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    margin: 10px;
    text-transform: uppercase;
}

.brand {
    height: 56px;
    margin: 10px;
}

.hero {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 2px -2px gray;
    background-image: url('./img/surf-bus.jpg');
}

.hero.hero-large {
    padding: 14rem 7rem;
}